.user-profile{
    margin: var(--section-margin-mobile);
    padding: var(--page-padd-mobile);
}

/* User Information */
.user-profile .user-info{

}

.user-profile .user-info .profile-picture,
.user-profile .user-info .info{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    padding: 16px;
}

.user-profile .user-info .profile-picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.user-profile .user-info .profile-picture .name{
    font-size: 24px;
    font-weight: bold;
    color: var(--secondry-color);
    margin-top: 16px;
}

.user-profile .user-info .info{
   
}
.user-profile .user-info .info .info-item{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.user-profile .user-info .info .info-item:not(:last-child){
    border-bottom: 1px solid var(--secondry-color);
}
.user-profile .user-info .info .info-item svg{
    font-size: 24px;
    color: var(--secondry-color);
    margin-right: 8px;
}
.user-profile .user-info .info .info-item p{
    font-size: 18px;
    font-weight: 500;
}

/* User's reservations & favourites &  recomnmended*/

.user-profile .reservations,
.user-profile .favourites,
.user-profile .recommended{
    margin-top: 24px;
}

.user-profile .section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profile .section-header .title{
    color: var(--secondry-color);
    font-size: 20px;
    margin-bottom: 8px;
    font-family: 'Josefin Sans', sans-serif;
}

.user-profile .section-header .view-all-btn{
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    text-decoration: underline;
    transition: .3s;
    cursor: pointer;
}
.user-profile .section-header .view-all-btn:hover{
    color: var(--secondry-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* User Information*/
    .user-profile{
        margin: var(--section-margin-desktop);
        padding: var(--page-padd-desktop);
        display: flex;
    }
    .user-profile .user-info{
        width: 360px;
        margin-right: 24px;
    }

    /* User's reservations & favourite & Recommended */
    .user-profile .user-reservations{
        flex: 1;
    }
    .user-profile .section-header{
        padding: 0 20px;
    }

    .user-profile .section-header .title{
        font-size: 30px;
    }
    .user-profile .section-header .view-all-btn{
        font-size: 18px;
    }
    .user-profile .reservations{
        overflow: hidden;
        margin-top: 0px;
    }
    .user-profile .favourites,
    .user-profile .recommended{
        overflow: hidden;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
